<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class='text-center text-primary'>Escape Bus</h1>
    <div class="well">
      <p>Enter your street address or corner, and we'll tell you all the nearby buses!</p>
      <%= render 'form' %>
    </div>
  </div>
</div>


